/* STYLE */

html {
    font-size: 160%;
}

body {
    background-color: #fff;
    font-family: 'Signika Negative', sans-serif;
    color: #3a2431;
    font-weight: 400;
    background: url(../img/food.svg);
    background-repeat: repeat;
}

div.bar-top {
    position: relative;
    background: url(../img/bg2x.jpg);
    height: 16vh;
    color: #fff;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.35);
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    z-index: 999;
}

div.bar-bottom {
    background-color: #3a2431;
    color: #fff;
    height: 5.7vh;
    min-height: 2rem;
    font-size: 1.3rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 996;
}

div.papu {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.rice {
    width: 84px;
    height: 82px;
    position: relative;
    top: 1rem;
    z-index: -1;
}

img.logo {
    height: 120px;
    margin: auto;
    -webkit-filter: drop-shadow( 2px 2px 10px #000);
    filter: drop-shadow( 2px 2px 10px #000);
}

div.bar-bottom a {
    height: 5%;
    width: 13vw;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
}


/* hamburger & animacja hamburgera */

div.hamburger {
    background: #3a2431;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.menu {
    width: 60px;
    height: 50px;
    position: absolute;
    margin: auto auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}

div.menu span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

div.menu span:nth-child(1) {
    top: 0px;
}

div.menu span:nth-child(2) {
    top: 20px;
}

div.menu span:nth-child(3) {
    top: 41px;
}

div.menu.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

div.menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

div.menu.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* koniec animacji hamburgera */

span.title {
    margin: auto;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}


/*-----------------widok horyzontalny---------------- */

@media only screen and (orientation: landscape) {
    span.title {
        font-size: 1rem;
    }
    div.bar-top,
    div.profile {
        height: 30vh;
    }
    img.logo {
        height: 16vh;
    }
    div.bar-bottom {
        height: 15vh;
    }
    img.menu {
        height: 10vh;
    }
    div.bar-bottom a {
        height: 13%;
        /*width: 13vw;*/
    }
}

.rating {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    background: #3a2431;
    color: #fff;
    font-size: 300%;
    text-align: center;
    line-height: 14vw;
    font-size: 8vw;
    display: inline-block;
}

.rating-mini {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    max-width: 200px;
    background: #ffe062;
    color: #000;
    text-align: center;
    line-height: 8vw;
    font-size: 1.8rem;
    display: inline-block;
}

.button {
    border-radius: 5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button-yellow {
    background-color: #3a2431;
    color: #fff;
    border: none;
}

.button-black {
    background-color: #fff;
    color: #3a2431;
    font-weight: 700;
    border: 4px solid #3a2431;
}

.short {
    width: 48%;
}

section.content {
    padding: 5vw 5vw;
}

nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 0 0 -80%;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    /* background-image: url(../img/menu-bg.jpg);*/
    background: #3a2431;
    background-size: cover;
    background-repeat: repeat-y;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5%;
    letter-spacing: 2px;
}

nav a:hover {
    background: #76405e;
}

.navi {
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 500;
}

.bar-top {
    display: none;
}

.bar-top nav.active {
    margin: 0;
}

.bar-top label.active {
    left: 83%;
}

.bar-top section.active {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}

.profile span {
    color: #ffe062;
    font-weight: normal;
    text-shadow: 2px 2px 10px #000;
}

.profile {
    height: 16vh;
    background-image: url(../img/food.svg);
    /*background: #fff;*/
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-circle {
    border-radius: 50%;
    height: 50%;
    box-shadow: 2px 2px 50px #3a2431;
}

.profile-data {
    padding-left: 1.3rem;
    font-size: 1rem;
}

.form-group label {
    display: block;
    font-size: .8rem;
    margin: 0 1% 0 1%;
    color: #ffe062;
}

.form-group input[type="text"] {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.6rem;
    width: 100%;
    box-sizing: border-box;
    /*background-color: rgba(255, 255, 255, 0.65);*/
    /*border: 3px solid #3a2431;*/
    border-bottom: 1px solid #8d8d8d;
    color: #3a2431;
    outline: 0px;
}

.darkerpanel {
    height: 80%;
    background: url(../img/food.svg);
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-color: #3a2431;
}


/* starter screen*/

.welcome {
    /*
    width: 100vh;
    height: 100vh;
*/
    background: url(../img/food.svg);
    background-repeat: repeat-y;
    background-blend-mode: multiply;
    background-color: #3a2431;
}

div.welcomepapu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.welcomerice {
    width: 184px;
    height: 182px;
    position: relative;
    top: 1rem;
    /*    z-index: -1;*/
}

img.welcomelogo {
    height: 220px;
    /*    margin: auto;*/
    -webkit-filter: drop-shadow( 2px 2px 10px #000);
    filter: drop-shadow( 2px 2px 10px #000);
}


/*main_lista style*/


/* START menu panel style*/

div.updownpanel {
    z-index: 100;
    position: absolute;
    top: 21vh;
    left: 0;
    width: 100%;
    height: 1200px;
    margin: -190% 0 0 0;
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    background-color: #3a2431;
    z-index: 990;
    /*background-color: #76405e;*/
}

div.updownpanel div.panel {
    text-decoration: none;
    display: flex;
    padding: 5%;
    letter-spacing: 2px;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90%;
    align-content: space-between;
}

div.updownpanel.active {
    margin: 0;
}

.darkerpanel {
    height: 100%;
    background: url(../img/food.svg);
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-color: #3a2431;
}


/*END menu panel style*/


/* START checkbox style */

.input-block {
    max-width: 50%;
    box-sizing: border-box;
}

.input-bottom {
    margin-top: 2rem;
    width: 90%;
}

.choices {
    display: flex;
}

.choices > .checkboxcell:not(:first-child) {
    margin-left: 1rem;
}

.panel button {
    margin: 2rem;
}

input.checkbox-menu-list {
    opacity: 0;
}

input.checkbox-menu-list,
label.checkbox-menu-list-label {
    display: none;
    vertical-align: middle;
    cursor: pointer;
}

label.checkbox-menu-list-label {
    position: relative;
}

input.checkbox-menu-list + label.checkbox-menu-list-label:before {
    content: ' ';
    border: 4px solid #fff;
    border-radius: 30%;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 30px;
    text-align: center;
}

div.checkboxcell label {
    font-size: 1.6rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: #fff;
}

input.checkbox-menu-list:checked + .checkbox-menu-list-label:before {
    content: "\2713";
    background: #ffdf62;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    border: 4px solid #ffdf62;
}

input.checkbox-menu-list:focus + .checkbox-menu-list-label {
    outline: 0px;
}


/* END checkbox style */


/*START arrow up-down style*/

.arrowupdownbox {
    width: 3rem;
    height: 3rem;
    position: absolute;
    margin: 0 0 0 21rem;
}

.arrowupdown {
    width: .7rem;
    height: .3rem;
    display: inline-block;
    position: relative;
}

.arrowupdown span {
    top: 0.5rem;
    position: absolute;
    width: 1.8rem;
    height: .3rem;
    background-color: #ffffff;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.arrowupdown span:first-of-type {
    left: 1rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrowupdown span:last-of-type {
    right: -1rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrowupdown.active span:first-of-type {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrowupdown.active span:last-of-type {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/*END arrow updown style*/

@media (-webkit-min-device-pixel-ratio: 2) {
    .menuitem2 {
        background: url(../img/beef-1845296_1920@2x.jpg);
        background-size: cover;
    }
    .menuitem3 {
        background: url(../img/salad-1264107_1920@2x.jpg);
        background-size: cover;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .menuitem2 {
        background: url(../img/beef-1845296_1920@3x.jpg);
        background-size: cover;
    }
    .menuitem3 {
        background: url(../img/salad-1264107_1920@3x.jpg);
        background-size: cover;
    }
}


/*----------------typografia--------------------*/

span {
    color: #3a2431;
    font-size: 2rem;
    font-weight: 700;
}

span.name {
    text-align: left;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #76405e;
}

.italic {
    font-style: italic;
}

.shadow {
    text-shadow: 1px 1px 3px rgba(66, 66, 66, 1);
}

.white {
    color: #ffffff;
}

.yellow {
    color: #ffdf62;
}

.purple {
    color: #3a2431;
}

.title-padding {
    padding-top: 1rem;
    display: block;
}

.xs-text {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.8rem;
}

img.arrow-right {
    width: 100%;
}

div.arrow-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-bottom {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.restaurant {
    font-style: italic;
    font-weight: normal;
    font-size: 1.4rem;
}

div.menuitem2 {
    background: url(../img/beef-1845296_1920.jpg);
}

div.menuitem3 {
    background: url(../img/salad-1264107_1920.jpg);
}

.menulista a {
    text-decoration: none;
    color: inherit;
}

.loader-box {
    display: none;
}

.loader-box.active {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.loader {
    display: block;
    border: 100px solid rgba(118, 64, 94, 0.4);
    margin: 0 auto;
    /*#f3f3f3*/
    border-top: 100px solid #3a2431;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 1.5s linear infinite;
}

.loader-box span {
    color: #3a2431;
    margin-top: 3rem;
    font-weight: normal;
}

.menulista.hidden {
    display: none
;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

div.entry-logo {
    /*background: url("../img/bg3x.jpg") center;*/
    height: 100%;
    width: 70%;
    background: #3a2431;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.entry-papu {
    -webkit-filter: drop-shadow( 2px 2px 10px #000);
    filter: drop-shadow( 2px 2px 20px #000);
    width: 70%;
    position: relative;
    top: -1rem;
}

.entry-rice {
    position: relative;
    width: 33%;
    top: 2rem;
}
